
body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f2811d;
    cursor: url("../img/default.png"), auto;
}
#contenedor{
    background-color: #f2811d;
}
header{
    background-image: url("../img/to-do-list.jpg");
    background-position: center;
    background-size: cover;
    padding: 10px;
}
header h1{
    margin-top: 60px;
    margin-bottom: -10px;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
}
nav{
    background-color: #000;
    border-bottom: 2px solid #000;

}
nav::after{
    clear: both;
    content: "";
    display: block;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li{
    float: left;
    margin-right: 10px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}
nav ul li a:hover{
    background-color: #25b2f1;
    text-decoration: underline;
}
nav form{
    float: right;
    margin: 8px 5px 0px 5px;
}
nav h2{
    float: right;
    margin: 0;
    padding: 10px;
    font-size: 12pt;
    color: #fff;
    font-weight: normal;
}
section{
    padding: 10px;
}
section h2{
    color: #616161;
    border-bottom: solid 2px #0c6cb5;
}
section h3{
    color: #616161;
    margin-top: -10px;
    padding-top: 0;
    font-size: 12pt;
    font-weight: normal;

}
section table{
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    width: 85%;
    margin: 0 auto;
    border-collapse: collapse;
    overflow: hidden;
}
section table thead{
    color: #fff;
    background-color: #0c6cb5;
    font-size: 11pt;
}
section table th, section table td{
    padding: 6px;
}
section table a{
    color: #616161;
    text-decoration: none;
}
section table a:hover{
    color: #424242;
    text-decoration: underline;
}
.centrar{
    text-align: center;
}
.impares{
    background-color: #eeeeee;
}
.formulario_usuarios{
    width: 25%;
}
.formulario_tareas{
    width: 50%;
}
.formulario{
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    margin: 2em auto;
}
.formulario h2{
    margin: 0 0 15px 0;
}
.formulario div{
    padding: 5px;
}
.fomrulario input, .formulario textarea, .fomrulario select{
    width: 100%;
    font-size: 14pt;
    background-color: #fff;
    border: 0;
    border-bottom: 1px solid #a8a8a8;
}
.fomrulario input:hover{
    border-bottom: 1px solid #0c6cb5;
}
.boton_primario{
    margin-top: 15px;
    border: 0 !important;
    background-color: #0c6cb5 !important;
    padding: 10px;
    color: #fff;
}
footer{
    background-color: #b1b1b1;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-top: 3em;
    border-top: 2px solid #c7c7c7;
}
footer p{
    text-align: center;
    color: #424242;
}
#mensaje{
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffc0c0;
    width: 22%;
    padding: 10px;
    border-radius: 8px;
    margin: 10px auto;
}
#mensaje p{
    padding: 0;
    margin: 0;
    text-align: center;
}
.validacion_error{
    border-bottom: 1px solid #FF0000 !important;
}
